<div>
	<select id="select-country" ng-change="update()" ng-model="selectedCountryId" class="form-control">
		<option ng-repeat='country in countries' value='{{country.id}}'>{{country.name}}</option>
	</select>
</div>