<div id="nav-anchor-points">
    <div class="wrapper-anchor anchor-white">
        <a href="javascript:void(0);" target="_self" onclick="$('#header').animatescroll();" id="section-1"  class="active-section">
            <span>Начало</span>
            <i></i>
        </a>
        <a href="javascript:void(0);" target="_self" onclick="$('#workflow').animatescroll();" id="section-2">
            <span>Как работи?</span>
            <i></i>
        </a>
        <a href="javascript:void(0);" target="_self" onclick="$('#sign-up-form').animatescroll();" id="section-3">
            <span>Запиши се!</span>
            <i></i>
        </a>
    </div>
</div>
<div id="header">
    <img src="https://bs2.cdn.telerik.com/v1/i6qLbJFCRypoWwxF/5dbdc790-7c29-11e5-b434-350f26c28094"
        onerror="this.onerror=null;this.src='/img/fgo-header.jpg';"
        alt="Football Game Organizer Logo" class="fgo-logo"/>
    <div id="cover">
        <img src="https://bs2.cdn.telerik.com/v1/i6qLbJFCRypoWwxF/5dbda080-7c29-11e5-b434-350f26c28094"
            onerror="this.onerror=null;this.src='/img/fgo-cover.jpg';"
            alt="Football Game Organizer" class="fgo-cover"/>
    </div>
</div>
<div id="content">
    <h2>
        Искаш да играеш футбол, но организацията на мачове те затруднява? Ти си на правилното място. Запознай се
        с първият по рода си организатор на футболни събития FGO.  Спести си хиляди телефонни
        обаждания, нерви и пари! Покани своите приятели и организирайте
        следващия двубой <span>бързо, лесно и ефективно.</span>
    </h2>
    <div id="workflow">
        <div class="arrow-top"></div>

        <div class="wrapper">
            <h3>КАК РАБОТИ?</h3>
            <div class="title-line"></div>

            <div id="step-1" class="step">
                <i class="icon"></i>
                <span>Регистрирай се</span>
            </div>

            <div class="line"></div>

            <div id="step-2" class="step">
                <i class="icon"></i>
                <span>Покани приятели</span>
            </div>

            <div class="col-1">
                <div class="line line-horizontal-top"></div>
                <div class="line line-top"></div>
                <div id="step-3-1" class="step">
                    <i class="icon"></i>
                    <span>Организирай мач</span>
                </div>
                <div class="line"></div>
                <div id="step-4-1" class="step">
                    <i class="icon"></i>
                    <span>Изпрати покани</span>
                </div>
                <div class="line line-bottom"></div>
                <div class="line line-horizontal-bottom"></div>
            </div>

            <div class="col-2">
                <div class="line line-horizontal-top"></div>
                <div class="line line-top"></div>
                <div id="step-3-2" class="step">
                    <i class="icon"></i>
                    <span>Намери мач</span>
                </div>
                <div class="line"></div>
                <div id="step-4-2" class="step">
                    <i class="icon"></i>
                    <span>Заяви участие</span>
                </div>
                <div class="line line-bottom"></div>
                <div class="line line-horizontal-bottom"></div>
            </div>
            <div class="clr"></div>
            <div id="step-5" class="step">
                <i class="icon"></i>
                <span>Играй</span>
            </div>
            <div class="line"></div>
            <div id="step-6" class="step">
                <i class="icon"></i>
                <span>Оцени участниците</span>
            </div>
        </div>

        <div class="arrow-bottom"></div>
    </div>

    <div id="sign-up-form">
        <h3>
            Запиши се и научи първи<br/>
            за старта на платформата!
        </h3>
        <div class="title-line"></div>
        <form name="signUpForm" id="signUpForm" ng-submit="signUp(subscription)" novalidate>
            <input id="name" name="name" ng-model="subscription.fname" class="field-style"
                   placeholder="Име *" ng-required="true" ng-class="{'error-field': (signUpForm.name.$invalid) && (!signUpForm.name.$pristine || signUpForm.$submitted)}">
            <input id="family" name="family" ng-model="subscription.lname" class="field-style"
                   placeholder="Фамилия *"
                   ng-required="true" ng-class="{'error-field': signUpForm.family.$invalid && (!signUpForm.family.$pristine || signUpForm.$submitted)}">

            <input id="age" name="age" data-ng-model="subscription.age" type="number" min="10" max="100" class="field-style"
                   placeholder="Години *" ng-required="true" ng-class="{'error-field': signUpForm.age.$invalid && (!signUpForm.age.$pristine || signUpForm.$submitted)}"/>

            <div class="select-style" ng-class="{'error-select-field': (signUpForm.city.$invalid || subscription.city == '0') && (!signUpForm.city.$pristine || signUpForm.$submitted)}">
                <select name="city" id="city" ng-model="subscription.city" class="select-box" placeholder="Град *"
                        ng-class="{'empty' : subscription.city == '0'}">
                    <option ng-repeat="city in cities" value="{{ $index == 0 ? '0' : city}}" ng-disabled="$index == 0">{{city}}</option>
                </select>
            </div>

            <input type="email"
                   class="field-style"
                   placeholder="e-майл *"
                   name="email"
                   ng-required="true"
                   ng-class="{'error-field': (signUpForm.email.$error.required && !signUpForm.email.$pristine) || (signUpForm.$submitted && signUpForm.email.$pristine)
                    || (signUpForm.email.$error.email && !signUpForm.email.$pristine)}"
                   ng-model="subscription.email"/>


            <div class="select-style" ng-class="{'error-select-field': (signUpForm.plays.$invalid || !subscription.plays) && (!signUpForm.plays.$pristine || signUpForm.$submitted)}">
                <select class="select-box" id="plays" name="plays" ng-model="subscription.plays"
                        ng-class="{'empty' : !subscription.plays}">
                    <option value="" selected disabled>{{ 'PLAYS' | translate }}*</option>
                    <option value="1">{{ 'EVERY DAY' | translate }}</option>
                    <option value="2">{{ '3-5 A WEEK' | translate }}</option>
                    <option value="3">{{ '1-2 A WEEK' | translate }}</option>
                    <option value="4">{{ 'ONCE A WEEK' | translate }}</option>
                    <option value="5">{{ 'ONCE A MONTH' | translate }}</option>
                    <option value="6">{{ 'LESS THAN ONCE A MONTH' | translate }}</option>
                </select>
            </div>

            <div id="check-box">
                <input type="checkbox" id="newsletters" name="newsletters" checked ng-model="subscription.newsletters"/>
                <label for="newsletters">
                    <i></i>
                    <span>Желая да получавам новини и въпроси свързани с FGO</span>
                </label>
            </div>

            <button type="submit" class="submit-btn" ng-hide="subscriptionReceived">ЗАПИШИ СЕ</button>

            <div class="fb-like" data-href="https://www.facebook.com/fgo.official" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

            <div id="success-msg" ng-show="subscriptionReceived">
                Успешно се записахте за старта на FGO!
            </div>

            <div id="error-msg" ng-show="missing_fields">
                Моля попълнете всички задължителни полета!
            </div>
        </form>
    </div>
</div>
<script>
    $(function() {
        var form = document.getElementById('signUpForm');
        form.addEventListener('submit', function(event) {
            ga('send', 'event', 'Signup Form', 'submit');
        });

        var selects = document.getElementsByTagName('select');

        for (i=0;i<selects.length;i++){
            if (selects[i].parentNode.tagName.toString().toLowerCase() == 'div') {
                selects[i].onfocus = function(){
                    this.parentNode.classList.add("focused");
                };
                selects[i].onblur = function(){
                    this.parentNode.classList.remove("focused");
                };
            }
        }
    });


    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.5&appId=877406112341422";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>