<div id="header">
    <img src="/img/fgo-header.png" alt="Football Game Organizer Logo" class="fgo-logo"/>
</div>
<div id="content">
    <div class="check">
        <span>Успешна валидация!</span>
    </div>
</div>
<script type="text/javascript">document.getElementsByTagName('html')[0].className+=' thank-you-page'</script>