html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline; }

html {
        line-height: 1; }

ol, ul {
        list-style: none; }

table {
        border-collapse: collapse;
        border-spacing: 0; }

caption, th, td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle; }

q, blockquote {
        quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none; }

a img {
        border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
        display: block; }

html, body {
        background: #fff;
        width: 100%;
        font-family: 'Open Sans';
        font-weight: 300;
        color: #363635;
        overflow-x: hidden; }

html.thank-you-page,
html.thank-you-page body {
        height: 100%; }

.dNone {
        display: none !important; }

.clr {
        clear: both; }

#nav-anchor-points {
        display: block;
        position: fixed;
        width: 150px;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 10; }
#nav-anchor-points .wrapper-anchor {
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: right; }
#nav-anchor-points .wrapper-anchor a {
        display: block;
        text-decoration: none;
        margin: 15px 0;
        color: #777; }
#nav-anchor-points .wrapper-anchor a span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; }
#nav-anchor-points .wrapper-anchor a i {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #fff;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out 0s; }
#nav-anchor-points .wrapper-anchor a:hover i, #nav-anchor-points .wrapper-anchor a.active-section i {
        border: 1px solid #fff;
        background: #AECB06; }
#nav-anchor-points .wrapper-anchor.anchor-white a {
        color: #fff; }

#header {
        position: relative; }
#header .fgo-logo {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
#header #cover {
        position: relative; }
#header #cover img.fgo-cover {
        display: block;
        width: 100%;
        height: auto; }

#content h2 {
        max-width: 1200px;
        width: 94%;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
        padding: 30px 3%;
        line-height: 26px; }
#content h2 span {
        font-weight: 600;
        color: #AECD00; }
#content #workflow {
        background: #AECB06;
        margin: 50px 0;
        position: relative; }
#content #workflow .arrow-top {
        position: absolute;
        top: 0;
        text-align: center;
        padding: 12px;
        margin-bottom: 6px;
        height: 100px;
        width: 100%; }
#content #workflow .arrow-top:before {
        content: '';
        position: absolute;
        top: -45px;
        left: 0;
        height: 100%;
        width: 50%;
        background: #AECB06;
        -webkit-transform: skew(0deg, 3deg);
        -moz-transform: skew(0deg, 3deg);
        -ms-transform: skew(0deg, 3deg);
        -o-transform: skew(0deg, 3deg);
        transform: skew(0deg, 3deg); }
#content #workflow .arrow-top:after {
        content: '';
        position: absolute;
        top: -45px;
        right: 0;
        height: 100%;
        width: 50%;
        background: #AECB06;
        -webkit-transform: skew(0deg, -3deg);
        -moz-transform: skew(0deg, -3deg);
        -ms-transform: skew(0deg, -3deg);
        -o-transform: skew(0deg, -3deg);
        transform: skew(0deg, -3deg); }
#content #workflow .arrow-bottom {
        position: absolute;
        bottom: 0;
        text-align: center;
        margin-bottom: 6px;
        height: 100px;
        width: 100%; }
#content #workflow .arrow-bottom:before {
        content: '';
        position: absolute;
        bottom: -45px;
        left: 0;
        height: 100%;
        width: 50%;
        background: #AECB06;
        -webkit-transform: skew(0deg, -3deg);
        -moz-transform: skew(0deg, -3deg);
        -ms-transform: skew(0deg, -3deg);
        -o-transform: skew(0deg, -3deg);
        transform: skew(0deg, -3deg); }
#content #workflow .arrow-bottom:after {
        content: '';
        position: absolute;
        bottom: -45px;
        right: 0;
        height: 100%;
        width: 50%;
        background: #AECB06;
        -webkit-transform: skew(0deg, 3deg);
        -moz-transform: skew(0deg, 3deg);
        -ms-transform: skew(0deg, 3deg);
        -o-transform: skew(0deg, 3deg);
        transform: skew(0deg, 3deg); }
#content #workflow .wrapper {
        max-width: 1200px;
        width: 96%;
        margin: 0 auto;
        padding: 30px 0 50px;
        position: relative;
        z-index: 2;
        color: white; }
#content #workflow .wrapper h3 {
        text-align: center;
        font-size: 30px;
        padding: 0 0 15px; }
#content #workflow .wrapper .title-line {
        display: block;
        width: 120px;
        height: 1px;
        background: white;
        margin: 0 auto 50px; }
#content #workflow .wrapper .col-1 {
        width: 50%;
        float: left;
        position: relative; }
#content #workflow .wrapper .col-1 .line-horizontal-top {
        top: -10px;
        right: 0; }
#content #workflow .wrapper .col-1 .line-horizontal-bottom {
        bottom: -10px;
        right: 0; }
#content #workflow .wrapper .col-2 {
        width: 50%;
        float: right;
        position: relative; }
#content #workflow .wrapper .col-2 .line-horizontal-top {
        top: -10px;
        left: 0; }
#content #workflow .wrapper .col-2 .line-horizontal-bottom {
        bottom: -10px;
        left: 0; }
#content #workflow .wrapper .step {
        font-size: 22px;
        text-align: center;
        position: relative;
        z-index: 3; }
#content #workflow .wrapper .step .icon {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto 10px;
        background-size: contain !important; }
#content #workflow .wrapper .line {
        width: 0px;
        height: 70px;
        border-left: 2px dashed rgba(255, 255, 255, 0.8);
        margin: 30px auto; }
#content #workflow .wrapper .line.line-top {
        margin-top: 0; }
#content #workflow .wrapper .line.line-bottom {
        margin-bottom: 0; }
#content #workflow .wrapper .line.line-horizontal-top, #content #workflow .wrapper .line.line-horizontal-bottom {
        border-top: 2px dashed rgba(255, 255, 255, 0.8);
        width: 49%;
        height: 0px;
        margin: 0px;
        position: absolute; }
#content #workflow .wrapper #step-1 .icon {
        background: url("../img/icon-1.png") no-repeat center center; }
#content #workflow .wrapper #step-2 .icon {
        background: url("../img/icon-2.png") no-repeat center center; }
#content #workflow .wrapper #step-2 span {
        padding: 0 10px;
        background: #AECB06; }
#content #workflow .wrapper #step-3-1 .icon {
        background: url("../img/icon-3-1.png") no-repeat center center; }
#content #workflow .wrapper #step-3-2 .icon {
        background: url("../img/icon-3-2.png") no-repeat center center; }
#content #workflow .wrapper #step-4-1 .icon {
        background: url("../img/icon-4-1.png") no-repeat center center; }
#content #workflow .wrapper #step-4-2 .icon {
        background: url("../img/icon-4-2.png") no-repeat center center; }
#content #workflow .wrapper #step-5 {
        margin-top: -45px; }
#content #workflow .wrapper #step-5 .icon {
        background: url("../img/icon-5.png") no-repeat center center #AECB06;
        height: 100px;
        width: 100px; }
#content #workflow .wrapper #step-6 .icon {
        background: url("../img/icon-6.png") no-repeat center center; }
#content #sign-up-form {
        max-width: 670px;
        width: 90%;
        margin: 80px auto 20px; }
#content #sign-up-form h3 {
        text-align: center;
        font-size: 30px;
        line-height: 38px;
        padding: 0 0 15px; }
#content #sign-up-form .title-line {
        display: block;
        width: 270px;
        height: 1px;
        background: #AECB06;
        margin: 0 auto 50px; }
#content #sign-up-form .field-style {
        border: 2px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: white;
        padding: 10px 2%;
        margin-bottom: 15px;
        width: 96%;
        font-size: 16px;
        font-weight: 300;
        display: block;
        color: #363635; }
#content #sign-up-form .error-field {
        border-color: red; }
#content #sign-up-form .select-style {
        padding: 0;
        margin: 0 0 15px;
        border: 2px solid #ccc;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        background: url("../img/arrow.png") no-repeat 98% 50% #fff; }
#content #sign-up-form .select-style select {
        cursor: pointer;
        padding: 8px 2%;
        width: 100%;
        border: none;
        box-shadow: none;
        font-size: 16px;
        font-weight: 300;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #363635; }
#content #sign-up-form .select-style select:focus {
        outline: none; }
#content #sign-up-form #check-box {
        text-align: center;
        margin: 20px 0 30px; }
#content #sign-up-form #check-box input[type="checkbox"] {
        display: none; }
#content #sign-up-form #check-box input[type="checkbox"] + label i {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0;
        vertical-align: middle;
        background: url("../img/checkbox-not-checked.png") center center no-repeat;
        cursor: pointer; }
#content #sign-up-form #check-box input[type="checkbox"] + label span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
#content #sign-up-form #check-box input[type="checkbox"]:checked + label i {
        background: url("../img/checkbox-checked.png") center center no-repeat; }
#content #sign-up-form .submit-btn {
        width: 275px;
        height: 58px;
        color: white;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 300;
        border: none;
        display: block;
        margin: 0 auto 20px;
        background: url("../img/btn-submit-plate.png") center center no-repeat;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out 0s; }
#content #sign-up-form .submit-btn:hover {
        opacity: 0.8; }
#content #sign-up-form #success-msg {
        background: #AECB06;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        padding: 15px 0; }
#content #sign-up-form #error-msg {
        background: red;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        padding: 15px 0; }
#content .fb_iframe_widget {
        display: block;
        position: relative;
        margin: 10px auto;
        width: 380px; }

#footer {
        max-width: 670px;
        width: 90%;
        margin: 0 auto;
        padding: 8px 0;
        border-top: 1px solid #AECB06;
        color: #363635;
        font-size: 14px;
        text-align: center; }

html.thank-you-page body {
        background: url("../img/thank-you-cover.jpg") center center no-repeat;
        background-size: cover; }
html.thank-you-page body #content {
        position: absolute;
        width: 100%;
        height: 100%; }
html.thank-you-page body #content .check {
        position: relative;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url("../img/thank-you-check.png") center 50px no-repeat rgba(255, 255, 255, 0.95);
        background-size: 60%;
        border-radius: 50%; }
html.thank-you-page body #content .check span {
        display: block;
        position: absolute;
        bottom: 70px;
        width: 100%;
        text-align: center;
        font-size: 20px; }
html.thank-you-page body #footer {
        position: absolute;
        bottom: 0;
        border-top: 1px solid white;
        color: white;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }

@media screen and (max-width: 768px) {
        #content h2 {
                font-size: 18px; }

        #content #workflow .wrapper .step {
                font-size: 18px; }

        .thank-you-page #content .check {
                width: 200px;
                height: 200px;
                background: url("../img/thank-you-check.png") center 25px no-repeat rgba(255, 255, 255, 0.95);
                background-size: 50%; }
        .thank-you-page #content .check span {
                bottom: 70px;
                font-size: 18px; }

        #content #workflow .wrapper h3,
        #content #sign-up-form h3 {
                font-size: 24px; }

        #content #sign-up-form .title-line {
                width: 160px; } }

.focused{
        outline:none; /*or outline-color:#FFFFFF; if the first doesn't work*/
        border:1px solid #AECB06;
        -webkit-box-shadow: 0px 0px 4px 0px #AECB06;
        box-shadow: 0px 0px 4px 0px #AECB06;
}

input:focus
{
        outline:none; /*or outline-color:#FFFFFF; if the first doesn't work*/
        border:1px solid #AECB06;
        -webkit-box-shadow: 0px 0px 4px 0px #AECB06;
        box-shadow: 0px 0px 4px 0px #AECB06;
}

.empty { color: #aaa !important;}
.my-placeholder { color: #aaa; }